<h1> Bruin Plate </h1>

<% @bruin_plate = Update.first %>
<%= @bruin_plate.load %>

<%= form_for @update, :url => '/updates/create', :html => {:method => :post} do |f| %>
  <%= f.text_field :load %>
  <%= f.submit %>
<% end %>

<h1> Covell </h1>

<h1> De Neve </h1>

<h1> Cafe 1919 </h1>
