// Place all the styles related to the Updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.heavy {
  color: red;
}

h1.moderate {
  color: yellow;
}

h1.low {
  color: green;
}

h1.noinfo {
  color: grey;
}
